//body,ul,h1,h2,h3,h4,h5,h6,button{margin: 0 auto;padding: 0;display: block ;}
//a{text-decoration: none;}
//
//li {list-style: none;display: block;}
//a{display: block;}
//
//p {display: block; margin: 0;}
//
//
//
//body {
//  font-family: 'Rubik', sans-serif;
//}
//
//a,p {
//  color: #333333;
//}
//
//button {
//  border:none;
//  margin: 0;
//}
//
//ul {
//  margin: 0;
//}
//
//
//.container {
//  margin-right: auto;
//  margin-left: auto;
//  max-width: 280px;
//}
//
//
//
///*==============header============*/
//
//header {
//  padding: 25px 0 0;
//  background: #eaeeef;
//}
//
//.header-burger{
//
//}
//
//.header-wrapper {
//  display: flex;
//  justify-content: space-between;
//}
//
//.header-logo {
//  width: 56px;
//  height: 26px;
//}
//
//.header-nav__item__link--tel {
//  background: linear-gradient(90deg, #b8d6ce, #fbedcf);
//  width: 35px;
//  height: 35px;
//  border-radius: 50%;
//  position: absolute;
//
//
//}
//
//.header-nav {
//  display: grid;
//  grid-template-columns: 1fr 1fr;
//  grid-gap: 13px;
//}
//.tel {
//  position: relative;
//  transform: translate(75%, 75%);
//}
//
//.basket {
//  width: 32px;
//  height: 36px;
//}
//
//.menu__box {
//  display: block;
//  position: fixed;
//  visibility: hidden;
//  top: 0;
//  left: -100%;
//  width: 300px;
//  height: 100%;
//  margin: 0;
//  padding: 80px 0;
//  list-style: none;
//  text-align: center;
//  background-color: #ECEFF1;
//  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
//}
//
///*=============hero===================*/
//
//.hero {
//  padding: 32px 0 48px;
//  background:  #eaeeef
//}
//
//.hero-title{
//  font-family: 'Cormorant Infant', Serif;
//  font-size: 50px;
//  color: #195557;
//}
//.hero-title__about{
//  font-family: 'Cormorant Infant';
//  color: #70908B;
//  text-transform: uppercase;
//  font-size: 24px;
//  Line-height: 29.06px;
//}
//.hero-title__info{
//  font-family: 'Raleway',sans-serif;
//  font-weight: 400;
//  font-size: 12px;
//  line-height: 146.4%;
//  color: #70908B;
//}
//
//.hero-button {
//
//
//  display: block;
//  position: center;
//
//  width: 281px;
//  height: 59px;
//  background: #70908b ;
//  border-radius: 48px;
//  margin-left: auto;
//  margin-right: auto;
//  text-align: center;
//
//  font-family: 'Raleway', sans-serif;
//  font-style: normal;
//  font-weight: 700;
//  font-size: 14px;
//  line-height: 16px;
//
//  color: #FFFFFF;
//}
//
///*===big-hedgehog===*/
//.big-hedgehog {
//  position: absolute;
//  width: 203px;
//  left: 40%;
//}
///*============choice=========*/
//
//
//.choice {
//  background: #f8f6f3;
//}
//
//.choice-wrapper{
//  display: grid;
//  grid-template-columns: 1fr 1fr;
//  grid-template-rows: 1fr 1fr;
//
//  gap: 12px;
//}
//
//
//.first {
//  background: #FFEDCD;
//  border-radius: 50%;
//  width: 92px;
//  height: 92px;
//}
//
//.third{
//  background: #E2F0DF;
//  border-radius: 50%;
//  width: 92px;
//  height: 92px;
//}
//
//.fourth{
//  background: #70908B;
//  border-radius: 50%;
//  width: 92px;
//  height: 92px;
//}
//
//.inner-img {
//  position: relative;
//  display: block;
//  margin: auto;
//  top: 41%;
//  transform: translate(6%);
//}
//
//.choice-wrapper__item__title {
//  margin: 18px 0 10px;
//
//  font-family: 'Cormorant Infant', serif;
//  font-style: normal;
//  font-weight: 700;
//  font-size: 14px;
//  line-height: 18px;
//  text-transform: uppercase;
//
//  color: #195557;
//}
//
//.choice-wrapper__item__info {
//  font-family: 'Raleway', sans-serif;
//  font-weight: 400;
//  font-size: 10px;
//  line-height: 159.9%;
//
//  color: #195557;
//
//}
//
///*=======questionnaire======*/
//
//
//
//
///*=======stock=====*/
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
