
.footer {
  background: #70908B;
  padding: 35px 0 35px;
  @media screen and (min-width: 321px) {
    //padding: 54px 10px 20px;
  }
}

.footer-logo {
  width: 120px;
  height: 56px;
  margin-bottom: 60px;
  @media screen and (min-width: 321px) {
    display: flex;
    align-self: center;
    margin-bottom: 0;
  }
}

.footer__wrapper {
  @media screen and (min-width: 321px){
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media screen and (min-width: 321px){
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-self: center;
  }
}

.footer-networks {
  display: flex;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  float: right;
  transform: translate(241px, -276px);

  @media screen and (min-width: 321px) {

    display: flex;
    flex-direction: row;
    position: inherit;
    transform: none;

  }
}

.footer-nav__item__link {
  font-family: 'Cormorant Infant', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.footer-contacts__link__img {


}

.footer-tel {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;


  text-transform: uppercase;

  color: #FFFFFF;


  @media screen and (min-width: 321px){
    display: flex;
      align-items: center;
  }
}

.footer_info__wrapper {
  margin-top: 24px;
}

.footer_info {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 131.4%;
  color: #FFFFFF;
}







